[Unit]
Description=Login console over Bluetooth Serial Port Profile
After=bluetooth.service

[Service]
ExecStart=/usr/local/bin/bluetooth-serial-console
Restart=always

[Install]
WantedBy=multi-user.target